.upload {
    position: sticky;
    top: 0;
}


.upload .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(179, 133, 216, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.upload .logo .gap {
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

.upload .uploadbox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30vh; */
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    margin: 50px;
}

.upload .uploadbox h1 {
    color: var(--primary);
}

.upload .uploadbox span {
    font-size: 18px;
    color: black;
}

.upload .uploadbox .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputCustom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
    gap: 10px;
}

.inputCustom label {
    text-transform: capitalize;
    font-size: 20px;
}

.inputCustom input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: var(--input);
    text-transform: none;
    width: 250px;
}

.inputCustom label b {
    color: var(--secondary);
    margin-left: 5px;
}

.upload .drag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    box-sizing: border-box;
    border: 2px dashed #000000;
    border-radius: 12px;
    height: 300px;
    margin: 30px;
}

.upload .drag b {
    color: var(--secondary);
}

.doodle {
    position: absolute;
    bottom: 0;
    right: 0;
}